<footer>
  <nav class="round">
    <ul>
      <li><%= link_to t("views.about.title"), about_path %></li>
      <li><%= link_to t("views.contact.title"), contact_path %></li>
    </ul>
  </nav>
</footer>